.link_cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.link_cont img{
    width: 20px;
    height: 20px;
}


.link_face{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.link_face a{
 margin-left: 10px;
 text-decoration: none;
 font-size: 15px;
 color: #333333;
 font-weight: 350;
}